@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");


*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.top_nav, .bottom_nav {
  width: 100%;
  background-color: #fff;
  padding: 10px 5%; /* Use percentage padding to maintain responsiveness */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_nav .left, .bottom_nav ul {
  display: flex;
  align-items: center;
}

.top_nav .left .logo p {
  font-size: 24px;
  font-weight: bold;
  color: #494949;
  font-family: "Mountains of Christmas", cursive;
  margin-right: 25px;
}

.top_nav .left .logo p span {
  color: #37a000;
}

.top_nav .left .logo p span a {
  text-decoration: none;
  color: #37a000;
}

.top_nav .left .search_bar input[type="text"] {
  border: 1px solid #666666;
  padding: 5px 10px;
  outline: none;
  transition: all 0.5s ease;
}

.top_nav .left .search_bar input[type="text"]:focus {
  width: 250px;
}

.top_nav .right ul {
  display: flex;
  list-style-type: none; /* Remove bullets */
}

.top_nav .right ul li {
  margin: 0 12px;
}

.top_nav .right ul li:last-child {
  background: #37a000;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}

.top_nav .right ul li:hover:last-child {
  background: #494949;
}

.top_nav .right ul li a {
  display: block;
  padding: 8px 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.top_nav .right ul li:last-child a {
  color: #fff;
}

.bottom_nav {
  width: 100%;
  background-color:  rgb(223, 237, 242);
  padding: 10px 5%; /* Use percentage padding to maintain responsiveness */
  display: flex;
  justify-content: flex-end;
  /* background: linear-gradient(135deg,    rgb(204, 237, 245));  */
} #e0eec8,

.bottom_nav ul {
  display: flex;
  align-items: center;
  list-style-type: none; /* Remove bullets */
}

.bottom_nav ul li {
  position: relative;
}

.bottom_nav ul li a {
  color: #494949;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  transition: all 0.3s ease;
  text-decoration: none !important;
}

.bottom_nav ul li:hover a {
  color: #37a000;
}

.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.nav-item .dropdown {
  position: absolute;
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  margin-bottom: 8px;
}

.dropdown a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown a:hover {
  background-color: #f0f0f0;
  color: #111;
}

.search_bar input[type="text"] {
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 20px; /* Adjust border-radius as needed */
  transition: all 0.3s ease;
  
}

.search_bar input[type="text"]:focus {
  outline: none;
  border-color: #37a000; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(55, 160, 0, 0.5); /* Add a subtle box shadow on focus */
}