body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #c0cbd4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    color: #333;
}
input[type="text"], input[type="submit"], input[type="button"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #538bb9;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"], input[type="button"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #0056b3;
}
.confirmation {
    text-align: center;
    display: none;
}
.summary-container, .address-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 85%;
}
.summary-container h2, .address-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}
.summary-item, .address-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}
.summary-item:last-child, .address-item:last-child {
    font-weight: bold;
    color: #333;
}
.edit-address-container {
    display: block;
}
.form-check {
    margin-top: 10px;
}